<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="SiteRootUrl" value="http://localhost:61243/Uncced-Prototype/"/>
	</appSettings>
	<connectionStrings>
		<add name="DbConn" providerName="System.Data.SqlClient" connectionString="data source=WORKER;persist security info=True;initial catalog=uncced;user id=uncced;password=pass@123"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        <authentication mode="Windows" />
        -->
		<authentication mode="Forms">
			<forms name=".ASPXAUTH" cookieless="UseCookies" slidingExpiration="true"/>
		</authentication>
		<anonymousIdentification enabled="true" cookieless="UseCookies" cookieSlidingExpiration="true"/>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" connectionStringName="DbConn" applicationName="/" type="System.Web.Profile.SqlProfileProvider"/>
			</providers>
			<properties>
				<add name="Name" allowAnonymous="true"/>
				<add name="AnonUserId" allowAnonymous="true"/>
			</properties>
		</profile>
		<membership defaultProvider="CustomMembershipProvider">
			<providers>
				<add name="CustomMembershipProvider" type="System.Web.Security.SqlMembershipProvider" applicationName="/" connectionStringName="DbConn" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true"/>
				<!--<add name="CustomMembershipProvider" type="AutoUnlockProvider" applicationName="Production" connectionStringName="PortalProductionConnection" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="1" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" autoUnlockTimeout="10" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10"/>-->
			</providers>
		</membership>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="Off"></customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.net>
		<mailSettings>
			<smtp from="ctrailer@repata.com">
				<network host="smtp.repata.com" password="cuss@1147" userName="ctrailer@repata.com" port="587"/>
			</smtp>
		</mailSettings>
	</system.net>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
</configuration>
